* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  background-color: #041c32;
  color: #eee;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  min-height: 100vh;
}

.main-header {
  display: flex;
  align-items: center;
  margin: 50px 0;
}
.main-header img {
  margin-right: 25px;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.main-header h1 {
  color: #ecb365;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 10px;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  user-select: none;
}

.container-header {
  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 5px;
  display: flex;
  gap: 5px;
  border-radius: 6px;
}

.container-header > div {
  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 4px 8px;
  border-radius: 3px;
  display: flex;
}

.container-header .reaction-history {
  flex: 1;
  align-items: center;

  white-space: nowrap;
  overflow: hidden;
}
.container-header .reaction-history ul {
  display: flex;
  gap: 5px;
}
.container-header .reaction-history ul li {
  overflow: hidden;
  display: flex;
  list-style: none;
  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 5px;
  border-radius: 3px;
  animation: expand 1.25s ease-in-out;
}

span.ms {
  opacity: 0.5;
}

.container-header .reaction-average,
.container-header .reaction-best {
  display: flex;
  align-items: center;
}

.container-header .reaction-average p,
.container-header .reaction-best p {
  /* background-color: red; */
  /* width: 100%; */
}

.container-header .reaction-average img,
.container-header .reaction-best img,
.container-header .reaction-history img {
  /* background-color: red; */
  max-height: 20px;
  margin-right: 10px;
}

.container-content {
  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 10px;
  height: 500px;
  display: grid;
  place-content: center;
}

.container-content .main-paragraph {
  font-weight: bold;
  font-size: 1.1rem;
  opacity: 0.75;
}

.blue {
  /* background-color: lightblue; */
}
.red {
  background-color: red;
}
.yellow {
  background-color: #ecb365;
}

[hidden] {
  opacity: 0;
  animation: none !important;
}

@keyframes expand {
  from {
    background-color: #ecb365;
    box-shadow: inset 0 0 2px 2px yellow;
    max-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /* opacity: 0.5; */
  }
  to {
    max-width: 300px;
    padding-left: 5px;
    padding-right: 5px;
    /* opacity: 1; */
  }
}
