* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #041c32;
  --second-color: #ecb365;
  --third-color: #064663;
  --fourth-color: #04293a;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  background-color: var(--main-color);
  color: #eee;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.main-header {
  display: flex;
  align-items: center;
  margin: 50px 0;
}
.main-header img {
  margin-right: 25px;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.main-header h1 {
  color: var(--second-color);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* background-color: hsla(0, 0%, 100%, 0.1); */
  padding: 10px;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  user-select: none;
}

.container-header {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  border-radius: 6px;
  position: relative;
}

.container-header > div {
  background-color: var(--third-color);
  padding: 4px 8px;
  border-radius: 3px;
  display: flex;
  flex: 1;
}

.container-header .reaction-history {
  flex: 10;
  align-items: center;

  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.container-header .reaction-history::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50px;
  background: linear-gradient(90deg, transparent, var(--third-color));
  border-right: 10px solid var(--third-color);
  right: 0;
  top: 0;
}
.container-header .reaction-history ul {
  display: flex;
  gap: 5px;
}

.container-header .reaction-history ul li {
  overflow: hidden;
  display: flex;
  list-style: none;
  background-color: hsla(0, 0%, 100%, 0.1);

  padding: 5px;
  border-radius: 3px;
  animation: expand 1.25s ease-in-out;
}

span.ms {
  opacity: 0.5;
  font-weight: lighter;
}
span.ms:not(.reaction-history span) {
  padding: 5px 0;
}

.container-header > div {
  display: flex;
  align-items: center;
}

.container-header p {
  /* background-color: red; */
  /* width: 100%; */
}

.container-header img {
  height: 20px;
  margin-right: 8px;
}

.container-content {
  background-color: var(--third-color);
  padding: 10px;
  height: 500px;
  display: grid;
  place-content: center;
  border-radius: 3px;
  position: relative;
}

.container-content .main-paragraph {
  font-weight: bold;
  font-size: 1.1rem;
  /* opacity: 0.75; */
  text-align: center;
  line-height: 2rem;
}

.blue {
  /* background-color: lightblue; */
}
.red {
  background-color: red;
}
.yellow {
  background-color: var(--second-color);
  animation: yellowScreenAnim 0.5s infinite alternate;
}
.yellow p {
  color: #111;
}
.click {
  background-color: white;
  padding: 10px 35px;
  color: #111;
  border-radius: 5px;
  transition: 0.25s;
  position: relative;
  animation: buttonClick 0.12s linear infinite alternate;
  box-shadow: inset 0 0 0 5px black;
}
.highlight {
  background-color: var(--second-color);
  color: var(--fourth-color);
  padding: 5px 10px;
  border-radius: 3px;
}

[hidden] {
  opacity: 0;
  animation: none !important;
}

@keyframes buttonClick {
  from {
    border-bottom: 10px solid black;
    top: 5px;
  }
  to {
    /* box-shadow: 0 10px 0 0px black; */
    border-bottom: 0px solid black;
    top: 10px;
  }
}

@keyframes yellowScreenAnim {
  from {
    background-color: rgb(255, 154, 71);
  }
  to {
    background-color: var(--second-color);
  }
}

@keyframes expand {
  from {
    background-color: #ecb365;
    box-shadow: inset 0 0 2px 2px yellow;
    max-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /* opacity: 0.5; */
  }
  to {
    max-width: 300px;
    padding-left: 5px;
    padding-right: 5px;
    /* opacity: 1; */
  }
}

@media screen and (max-width: 768px) {
  .container-header .reaction-history {
    flex: 100%;
  }
}
